#contact .square {
    position: relative;
    width: 100%;
   background: #008975;
}

#contact .card{
    border: none;
}

#contact .square-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

#contact a{
    color: navajowhite;
}

#contact .card-body {
    background: #008975;
}

#contact .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
#contact .card-img-top {
    transition: transform .25s ease;
    transform: none;
}

#contact .card-img-top:hover {
    transform: scale(0.9) perspective(90px) translateZ(-30px) rotate3d(0, 1, -1, 10deg);
}