#projects .card-text{
    color: linen;
}

#projects a{
    color: navajowhite;
}

#projects .square {
    position: relative;
    width: 100%;
    background: #008975;
}

#projects .card{
    border: none;
}

#projects .card-body {
    background: #008975;
}

#projects h6{
    color: linen;
}

#projects h2{
    color: lightgrey;
}