#projects .card-text{
    color: #000000;
}

#projects a{
    color: #808080;
    /*color: navajowhite;*/
}

#projects .square {
    position: relative;
    width: 100%;
    background: navajowhite;
    /*background: #008975;*/
}

#projects .card{
    border: none;
}

#projects .card-body {
    background: navajowhite;
    /*background: #008975;*/
}

#projects h6{
    color: dimgrey;
}

#projects h2{
    color: darkslategrey;
}

#projects .col{
    background: navajowhite;
}