@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

.App {
    text-align: center;
    font-family: 'Lora', serif;
}

nav{
    background: #008975;
}

.App-header {
    background-color: #222;
    height: 75px;
    padding: 20px;
    color: turquoise;
}

.App-title {
    font-size: 1.5em;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

.App-intro {
    margin-top: 15px;
    margin-bottom: 20px;
    color: black;
}

